/*GENERAL*/
*{
    padding: 0px;
    margin: 0px;
}
body{
    background: url(../img/bg.png);  
    font-family: 'Open Sans', 'Arial','Helvetica';
}
a{
    color: #01B1EA;
    text-decoration: none;
}
a:visited{
    color: #01B1EA;
}
a:hover{
    color:#555555;
}
#clear{
    float: none;
    clear:both;
}
/*CLEAR*/
#clear{
    float: none;
    clear: both;
}
/*ALERT*/
.alert_green{
    color: green;
}
.alert_red{
    color: red;
}
/*TABLE*/
table{
    margin: 0px auto;
    text-align: center;
    width: 100%;
    border: 1px solid #555;
}

td{
   border-top: 1px solid #ccc;
   padding: 2px;
}

/*CONTAINER*/
#container{
    width: 90%;
    margin: 0px auto;
    box-shadow: 0px 0px 2px #555555;
}

/*HEADER*/
header{
    padding: 10px;
    height: 150px;
    background: #F0F0F0;
}
#logo{
    width: 90%;
    padding: 10px;
}
#logo img{
    height: 140px;
    float: left;
}
#logo a{
    font-family: Arial;
    font-size: 40px;
    letter-spacing: 3px;
    float: left;
    margin-top: 50px;
    margin-left: 25px;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bolder;
    text-shadow: 0px 2px 1px #222222;
    transition: all 500ms;
    cursor: pointer;
}
#logo a:hover{
    margin-top: 40px;
    text-shadow: 0px 5px 5px #222222, 0px 0px 0px #01B1EA;
}

/*MENU*/
#menu{
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 5px solid #01B1EA;  
}
#menu li{
    text-decoration: none;
    display: inline-block;
    line-height: 55px;    
}
#menu li a{
    display: block;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#menu a:hover{
    transition: 600ms;
     background: #01B1EA; 
     color: #222;
}

/*LATERAL*/
#lateral{
    display: block;
    float: left;
    width: 27%;
    background: white; 
    box-shadow: 0px 0px 2px black inset;
}
.block_aside{
    display: block;
    font-size: 20px;
    width: 90%;
    margin: 20px auto;
}
.block_aside h2{
    text-align: center;
    margin: 20px auto;
    width: 80%;
    background: #ddd;
    border-bottom: 3px solid #01B1EA;
    font-size: 25px;
}
label{
    display: block;
    width: 62%;
    margin: 0px auto;
}
form{
    width: 90%;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="file"],
select, textarea{
    display: block;
    font-size: 20px;
    width: 60%;
    margin: 10px auto;
    color: gray;
    transition: all 300ms;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus{
    border: 2px solid #1579b5;
    color:black;
}
input[type='submit'],
input[type='button'],
button, .button{
    display: block;
    width: 50%;
    border-radius: 2px;
    font-size: 20px;
    margin: 10px auto;
    background: #01B1EA; 
    border: none;
    padding: 5px;
    cursor: pointer;
}
.button{
    background: #1dab2e;
    color: white !important;
}
.button-small{
    width: 150px;
    margin: 5px auto;
    text-align: center;
}
.button-red{
    background: red;
    border: 1px solid brown;
}
#login a{
    display: block;
    margin: 5px 0px 0px 30px;
    text-decoration: none;
    list-style: none;
}
#login li{
    text-decoration: none;
    list-style: none;
}

/*CONTENIDO CENTRAL*/
#central{
    display: block;
    float: right;
    width: 70.5%;
    background: white;
    box-shadow: 0px 0px 2px black inset;
    padding: 10px;
}
#central h1{
    display: block;
    padding: 8px;
    margin: 0px auto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/*PRODUCTOS*/
.product{
    display: block;
    float: left;
    width: 30%; 
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    text-align: center;
}
.product img{
    height: 150px;
    width: 100px;
    margin-top: 20x;
    margin-left: 20x;
}
.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.product p{
    font-weight: bold;
    color: #555;
    font-size: 18px;
    margin-bottom: 10px; 
}
.product a{
    color: black;
}

.product a:hover{
    color: gray;
}

.img_carrito{
    height: 100px; 
}

.thumb{
    width: 100px;
}

#detail-product{
    width: 100%;   
}

#detail-product img{
    display: block;
    width: 48%;
    float: left;
}

#detail-product .data{
    display: block;
    width: 50%;
    float: right;
}
.data p{
    padding: 5px;
}

/*FOOTER*/
#footer{
    display: block;
    width: 90%;
    height: 20px;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #222;
    color: white;
    border-top: 6px solid #01B1EA;
}

/*CARRITO*/
#carrito{
    display: block;
    margin: 0px auto;
    width: 90%;
}
#carrito h3{
    display: block;
    float: right;
    padding: 16px;
}
#carrito .button{
    display: block;
    float: right;
    text-align: center;
    width: 23%;
}
#carrito li{
    padding-left: 32px;
    text-decoration: none;
    list-style: none;
}
#total-carrito{
    display: block;
    float: right;
    width: 50%;
}
#delete-carrito a{
    display: block;
    float: left;
    width: 50%;
}
.button-delete{
    display: block;
    float: left !important;
    width: 40% !important;    
}
.button-carrito{
    display: block;
    float: left !important;
    width: 80% !important;
}

.button-updown{
    clear: both;
    width: 15% !important;
    text-align: center;
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px;
}



